*,
*::before,
*::after {
  box-sizing: border-box;
}

.feedback-form {
  margin-top: 40px;
  width: 480px;
  font-family: 'Montserrat';
  font-size: 16;
}

.feedback-form > label {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.feedback-form input,
.feedback-form textarea {
  width: 360px;
  height: 40px;
  font-family: inherit;
  padding: 8px;
}

.feedback-form textarea {
  height: 80px;
  resize: none;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  color: white;
  border-radius: 8px;
  border: none;
  font-family: inherit;
}
